{% extends "base.html" %}
{% load static%}
{% block content %}
<title>Morosos</title>

<link rel="stylesheet" href="{% static 'soldiers/dataTable.min.css' %}">
<script src="{% static 'soldiers/dataTable.min.js' %}"></script>

<div id="Labels">
    <h3>Lista de morosos
        <small class="text-body-secondary">Personas que asistierón más días de los que tienen pagos</small>
    </h3>
</div>
<div id="tableMorosos" class="table container">
        {% if morososList %}
    <table id="Table" class="table">
        <thead> 
            <tr>
                <th scope="col">Soldados</th>
                <th scope="col">Factura No.</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Días extra</th>
                <th scope="col">Perfil</th>
            </tr>
        </thead>
        <tbody>
            {% for moroso in morososList %}
                <tr>
                    <td>{{moroso.nombre}}</td>
                    <td>{{moroso.factura}}</td>
                    <td>{{moroso.fechaVencimiento}}</td>
                    <td>{{moroso.diasextra}}</td>
                    <td><a href="/soldiers/perfil/{{moroso.perfil}}">cualquiercosa</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><small>No hay morosos que mostrar.</small></p>
    {% endif %}
</div>
<script>
    let table = new DataTable('#Table');
</script>
{% endblock content %}