{% extends "base.html" %}
{% load static%}
{% block content %}
<title>Morosos</title>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<div>
    <h3>Lista de morosos
        <small class="text-body-secondary">Personas que asistierón más días de los que tienen pagos</small>
    </h3>
        {% if morososList %}
    <table id="table" class="table">
        <thead> 
            <tr>
                <th scope="col">Soldados</th>
                <th scope="col">Factura No.</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Días extra</th>
            </tr>
        </thead>
        <tbody>
            {% for moroso in morososList %}
                <tr>
                    <td>{{moroso.nombre}}</td>
                    <td>{{moroso.factura}}</td>
                    <td>{{moroso.fechaVencimiento}}</td>
                    <td>{{moroso.diasextra}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><small>No hay morosos que mostrar.</small></p>
    {% endif %}
</div>
<script>
    let table = new DataTable('#Table');
</script>
{% endblock content %}