{% extends "base.html" %}
{% load static%}
{% block content %}

<div>
<title>Registro de asistencia</title>
        <form method="post">
            {% csrf_token %}
    <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ingresa tu número de teléfono</span>
            <input type="text" name="phone" id="Campo_Telefono" value="{{phone}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <input type="submit" value="Enviar" id="sendBtn" class="btn btn-outline-secondary">
        </form>
    </div>
</div>
<script>
    document.getElementById('sendBtn').addEventListener('click', function(){
        fetch(`/soldiers/api/alerts/`)
        .then(response => response.json())
        .then(data =>{
            const alerts = document.getElementById('alerta');
            alerts.innerHTML = `Anuncio: ${data.message}`;
            alerts.style.display = 'block';
            console.log("hola")
        })
        .catch (error => {
            console.error('Error al obtener los datos: ', error)
        })
    });
</script> 
<div>
    <p id="alerta" style="display: none;"></p>
</div>
{% endblock content %}