{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    a {
        text-decoration: none;
    }
</style>

<title>Rango fecha</title>
<h1>Asistencias 
    <small class=" text-body-secondary">del {{fecha1}} al {{fecha2}}</small>
</h1>
<div>
{% if rangeList %}
    <ul class="list-group">
    {% for item in rangeList %}
        <a href="/soldiers/perfil/{{item.soldier.id}}"><li class="list-group-item">{{item.soldier}}: {{item.registerDate}}</li></a>
    {% endfor %}
    </ul>
    {% else %}
    <p>
       <small>No hay asistencias por mostrar.</small>
    </p>
    {% endif %}
</div>
{% endblock content %}
