{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                    var select = document.getElementById('id_orderdetail_set-0-product');
                    var title1 = document.querySelector('.column-startSuscription');
                    var title2 = document.querySelector('.column-endSuscription');
                    var endDate = document.querySelector('.field-endSuscription');
                    var startDate = document.querySelector('.field-startSuscription');
                    var opcion = select.options[select.selectedIndex].value;

                    select.onchange = function (ev) {
                        ev.preventDefault();
                        ev.stopPropagation();
                        
                        console.log(this.value)
                        ev.preventDefault();
                        ev.stopPropagation();
                        if(select.value <= 6)
                            title1.style.display = 'run-in',
                            title2.style.display = 'run-in',
                            startDate.style.display = 'run-in',
                            endDate.style.display = 'run-in';
                        else
                            title1.style.display = 'none',
                            title2.style.display = 'none',
                            startDate.style.display = 'none',
                            endDate.style.display = 'none';
                    }
                });
        </script>
{% endblock %}