{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Bootstrap JS -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- JQuery JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Awesome Icon's CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <div id="Nav">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'soldiers:home' %}"><i class="fa-solid fa-landmark"></i> Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'soldiers:check' %}"><i class="fa-regular fa-pen-to-square"></i> Registro Asistencia</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-bullhorn"></i> Reportes</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'soldiers:morosos' %}"><i class="fa-solid fa-bugs"></i> Morosos</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'soldiers:calendar' %}"><i class="fa-solid fa-calendar-days"></i> Calendario</a></li>
                    </ul>
                  </li>
                </ul>
                <span class="navbar-text">
                 <i class="fa-solid fa-dumbbell fa-bounce"></i> Comandos Gym
                </span>
              </div>
            </div>
          </nav>
        </div>
        <div id="Main" class="container" >
                {% block content %}
                {% endblock %}
            </div> 
        </div>
        <div id="Footer" class="container-fluid">
          <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <p class="col-md-4 mb-0 text-body-secondary">© Comandos Gym 2023</p>
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'soldiers:home' %}" class="nav-link px-2 text-body-secondary"><i class="fa-solid fa-landmark fa-xl"></i></a></li>
                <li class="nav-item"><a href="https://www.instagram.com/comandos_gym/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">¿?</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">¿?</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">¿?</a></li>
              </ul>
            </footer>
          </div>
        </div>
    </body>
</html>